*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.container{
    max-width: 700px;
    margin: auto;
    width: 80%;
    padding-top: 10px;
}

.row{
    display: flex;
}

header{
    background-color: aqua;
    height: 40px;
}

/* colonne header */
.col_1{
    width: calc((100% / 12)* 2);  
}
.col_2{
    width: calc((100% / 12)* 8);
    text-align: center;
}
.col_3{
    width: calc((100% / 12)* 2);
    
}
.col_4{
    width: calc((100% / 12)* 5);
}
.col_5{
    width: calc((100% / 12)* 7);
}


/* debug */

[class^="col_"]{
    background-color:orange;
}
/* sfondo inziale */
 .painting{
    background-color: brown;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
   
.box{
    width: 400px;
    height: 150px;
    background-color: burlywood; 
}

/* suddivisione */

.sfondo{
    background-color:black;
    height: 200px;
}

.sfondo > .row{
    display: flex;
    justify-content: center;
    align-items: center;
}

