*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.container{
    max-width: 700px;
    margin: auto;
    width: 80%;
    padding-top: 10px;
}

.row{
    display: flex;
}

header{
    background-color: aqua;
    height: 40px;
}

/* colonne header */
.col_1{
    width: calc((100% / 12)* 2);  
}
.col_2{
    width: calc((100% / 12)* 8);
    text-align: center;
}
.col_3{
    width: calc((100% / 12)* 2);
    
}

/* debug */

[class^="col_"]{
    background-color:orange;
}